<div class="nav-menu">
    <input type="checkbox" id="bt_menu">
    <label for="bt_menu">&#9776;</label>

    <nav class="menu">
        <ul>
            <li><a (click)="onPesquisaMidia('filmes')">Filmes</a>

                <ul>
                    <li *ngFor="let categoria of listCategoriasFilmes">
                        <a (click)="onPesquisaCategoria('FILME', categoria.id)">{{ categoria.descricao }}</a>
                    </li>
                </ul>
                
            </li>

            <li><a (click)="onPesquisaMidia('games')">Games</a>

                <ul>
                    <li *ngFor="let categoria of listCategoriasGames">
                        <a (click)="onPesquisaCategoria('GAME', categoria.id)">{{ categoria.descricao }}</a>
                    </li>
                </ul>

            </li>

            <li><a (click)="onPesquisaMidia('livros')">Livros</a>

                <ul>
                    <li *ngFor="let categoria of listCategoriasLivros">
                        <a (click)="onPesquisaCategoria('LIVRO', categoria.id)">{{ categoria.descricao }}</a>
                    </li>
                </ul>

            </li>

            <li><a (click)="onPesquisaMidia('series')">Séries</a>

                <ul>
                    <li *ngFor="let categoria of listCategoriasSeries">
                        <a (click)="onPesquisaCategoria('SERIE', categoria.id)">{{ categoria.descricao }}</a>
                    </li>
                </ul>

            </li>
        </ul>
    </nav>
</div>