<div class="nav-menu">
    <input type="checkbox" id="bt_menu">
    <label for="bt_menu">&#9776;</label>

    <nav class="menu">
        <ul>
            <li><a>Filmes</a>
                <ul>
                    <li>
                        <a>Ação</a>
                    </li>
                    <li>
                        <a>Ficção</a>
                    </li>
                    <li>
                        <a>Terror</a>
                    </li>
                    <li>
                        <a>Suspense</a>
                    </li>
                </ul>
            </li>
            <li><a>Games</a>
                <ul>
                    <li>
                        <a>PS4</a>
                    </li>
                    <li>
                        <a>XBOX ONE</a>
                    </li>
                    <li>
                        <a>Nintendo switch</a>
                    </li>
                </ul>
            </li>
            <li><a>Livros</a>
                <ul>
                    <li>
                        <a>Ficção</a>
                    </li>
                    <li>
                        <a>Terror</a>
                    </li>
                    <li>
                        <a>Suspense</a>
                    </li>
                    <li>
                        <a>Românce</a>
                    </li>
                </ul>
            </li>
            <li><a>Séries</a>
                <ul>
                    <li>
                        <a>Ação</a>
                    </li>
                    <li>
                        <a>Ficção</a>
                    </li>
                    <li>
                        <a>Terror</a>
                    </li>
                    <li>
                        <a>Suspense</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>