<div class="header header-bg-gradient">
	<div class="header-left">
		<a [routerLink]="['']">
			<img src="https://curso-spring-matheusp.s3-sa-east-1.amazonaws.com/GeekReviews.png" class="logo-image">
		</a>
	</div>

	<div class="header-right col-5 col-sm-12 col-md-6">
			<div>
				<div class="form-inline form-header">
					<input class="form-control mr-sm-2 input-search" type="search" placeholder="Pesquisa por título..." aria-label="Search">
					<div class="input-group-append">
							<button class="btn btn-outline-success header-button" type="button"><i class="fa fa-search"></i></button>
							<button class="btn btn-outline-success header-button" type="button" (click)="onMidias()"><i class="fa fa-cog"></i></button>
					</div>
				</div>
			</div>
	</div>
</div>
