.header {
    position: fixed;
    top: 0;
    height: 130px;
    width: 100%;
    background-color: white;
    z-index: 149;
}

.header-left {
    padding: 20px 40px;
}

.logo-image {
    max-width: 600px;
}

.header-right {
    display: inline;
    margin: 7px 10px 0 0;
    padding: 40px 20px;
}

.input-search {
    width: 80%;
}

@media (max-width: 779.98px) { 
    
    .header {
        height: 150px;
        float: none;
    }

    .header-left {
        text-align: center;
        padding: 20px 40px;
    }

    .header-right {
        padding: 0;
    }

    .logo-image {
        max-width: 250px;
    }

    .input-search {
        width: 70%;
    }

    .form-header {
        justify-content: center;
    }
}

@media (min-width: 779.99px) and (max-width: 991.98px) { 

    .header-left {
        float: left;
    }

    .logo-image {
        max-width: 300px;
    }

    .input-search {
        width: 70%;
    }

    .header-right {
        float: right;
        padding: 20px 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 

    .header-left {
        float: left;
    }

    .logo-image {
        max-width: 350px;
    }

    .header-right {
        float: right;
        padding: 25px 20px;
    }
}

@media (min-width: 1200px) {

    .header-left {
        float: left;
    }

    .logo-image {
        max-width: 450px;
    }

    .header-right {
        float: right;
        padding: 35px 20px;
    }
}