<div class="container">
    <div class="center">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-success" [routerLink]="['filmes']">Filmes</button>
                <button type="button" class="btn btn-outline-success" [routerLink]="['livros']">Livros</button>
            </div>
        </div>
    
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-success" [routerLink]="['series']">Séries</button>
                <button type="button" class="btn btn-outline-success" [routerLink]="['games']">Games</button>
            </div>
        </div>
    </div>
</div>
