<div class="container">
    <mat-card>

        <app-page-title title="Usuário" subtitle="Cadastro de usuário" [showBackButton]="isUserPermissaoVoltar" 
          (onBackClicked)="onVoltar()"></app-page-title>

        <mat-card-content>

            <form [formGroup]="formGroup">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Apelido</mat-label>
                    <input matInput formControlName="apelido">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="nome@exemplo.com" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="esconderSenha ? 'password' : 'text'" formControlName="senha">
                    <button mat-icon-button matSuffix (click)="esconderSenha = !esconderSenha" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="esconderSenha">
                        <mat-icon>{{esconderSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>UF</mat-label>
                    <input matInput formControlName="uf">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="cidade">
                </mat-form-field>
                <div class="row col-8" *ngIf="isUserPermissaoVoltar">
                    <mat-label>Permissão </mat-label>
                    <mat-radio-group formControlName="permissao" class="radio-group-form">
                        <mat-radio-button [value]="permissaoEnum.USUARIO">Usuário</mat-radio-button>
                        <mat-radio-button [value]="permissaoEnum.REDATOR">Redator</mat-radio-button>
                        <mat-radio-button [value]="permissaoEnum.ADMINISTRADOR">Administrador</mat-radio-button>
                    </mat-radio-group>
                </div>
            </form>

            <div class="col-12 text-center">
                <button class="btn btn-outline-success button-form" [disabled]="!formGroup.valid" (click)="onSalvar()">Salvar</button>
                <button class="btn btn-outline-danger button-form" (click)="onVoltar()">Cancelar</button>
            </div>
        
        </mat-card-content>

    </mat-card>
</div>