<main role="main" class="container">

    <div class="text-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/images/banners-inicio.jpg" alt="First slide">
                </div>
                <div class="carousel-item" (click)="onPesquisaMidia('filmes')">
                    <img class="d-block w-100" src="../../assets/images/banners-filmes.jpg" alt="Second slide">
                </div>

                <div class="carousel-item" (click)="onPesquisaMidia('games')">
                    <img class="d-block w-100" src="../../assets/images/banners-games.jpg" alt="Third slide">
                </div>
                <div class="carousel-item" (click)="onPesquisaMidia('series')">
                    <img class="d-block w-100" src="../../assets/images/banners-series.jpg" alt="Third slide">
                </div>
                <div class="carousel-item" (click)="onPesquisaMidia('livros')">
                    <img class="d-block w-100" src="../../assets/images/banners-livros.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
          </div>
    </div>
</main>